@import "../../abstracts/mixins/mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
}

.post-title {
  @include middle-title;
  color: #ffffff;
  margin-bottom: 50px;
  @include for-big-phone {
    margin-bottom: 20px;
  }
}

h1.large-title, h1.main-title {
  @include big-title;
  @include for-big-phone {
    text-align: center;
  }
}

h2.middle-title {
  @include middle-title;
}
