@import "sass/abstracts/mixins/mixins";

.choose-best {
  padding: 0 0 0 28px;
  position: relative;

  .left-choose {
    float: left;
    padding-top: 27px;
    position: relative;
    z-index: 99;

    h3.small-title {
      @include small-title();
      margin-top: 0;
      margin-bottom: 15px;
    }

    .choose-best-content {
      margin-top: 27px;
      margin-bottom: 40px;
      width: 100%;
      max-width: 547px;

      p {
        @include text-style('Roboto', normal, 500, 18px, 21px);
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        @include for-middle-phone {
          @include text-style('Roboto', normal, 500, 16px, 21px);
        }
      }
    }
  }

  img {
    float: right;
    width: auto;
    max-width: 159px;
    height: auto;
    max-height: 100%;
    margin-top: 20px;
    @include for-tablet-landscape-up {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @include for-big-phone {
      position: relative;
      bottom: 20px;
    }
  }
}
