@import "sass/abstracts/mixins/mixins";
@import "sass/abstracts/variables/colors";

.head-review-content {
  background: $color__violet_background;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 50px;

  .hidden {
    display: none;
  }

  a.ShowMore {
    @include text-style('Roboto Medium', normal, 500, 18px, 21px);
    display: block;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin-top: 10px;
    color: #ffffff !important;
    text-decoration: none;
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
    background: transparent !important;
  }

  &.top-info-block {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 190px 153px 94px 197px 121px 214px;
    grid-template-areas: "A B C D E F G";
    place-content: space-between;
    border-radius: 10px;
    padding-right: 20px;
    @include for-desktop-mdl {
      grid-template-columns: 160px 20% 20% 20%;
      grid-template-rows: auto;
      grid-template-areas: "A B C D"
                       "A E F G";
    }

    .deposit-method-list.part-items {
      .more-items {
        top: 75px;
      }
    }

    .more-items {
      display: none;
      position: absolute;
      top: auto;
      left: 0;
      padding: 8px 20px 15px 20px;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 10px;
      width: 100%;
      max-width: 100%;
    }

    .top-info-name {
      @include text-style('Roboto Medium', normal, 500, 20px, 23px);
      color: #ffffff;
    }

    .logo-review-block {
      grid-area: A;
      width: 100%;
      max-width: 160px;
      background: #ffffff;
      border-radius: 10px;

      padding: 20px;
      display: flex;
      flex-flow: column;
      align-items: center;
      @include for-desktop-mdl {
        justify-content: center;
      }
    }

    .review-bonuses {
      grid-area: B;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 190px;
      padding-top: 30px;
      padding-bottom: 16px;

      #bonus-value {
        @include text-style('Roboto Medium', normal, 500, 20px, 23px);
        color: #FFF615;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      #bonus-share {
        display: flex;
        flex-flow: row;
        @include text-style('Roboto Medium', normal, 500, 20px, 23px);
        color: #ffffff;
        margin-bottom: 5px;

        svg {
          margin-right: 10px;
        }
      }

      #bonus-subtitle {
        @include text-style('Roboto Medium', normal, 500, 16px, 19px);
        color: #ffffff;
        width: 100%;
        max-width: 181px;
        text-align: center;
      }
    }

    .deposit-methods {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      position: relative;
      grid-area: C;

      .deposits-method-grid {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 153px;
        position: relative;

        span {
          margin-bottom: 20px;
          width: 100%;
          max-width: 100%;
        }

        .deposit-method-list {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          justify-content: center;

          a {
            margin-right: 10px;

            img {
              width: 38px;
              height: 28px;
            }

            &.ShowMore {
              margin: 0;
              text-align: center;
              height: 14px;
            }
          }
        }
      }
    }

    .devices-block {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      grid-area: D;

      .devices-list {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 21px 0 0 0;
        padding: 0;

        > li {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    #games-grid {
      grid-area: E;
      display: flex;
      flex-flow: column;
      align-items: center;
      align-self: center;
      position: relative;

      span {
        margin-bottom: 10px;
      }

      .games-type-list {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 197px;
        position: relative;

        .more-items {
          top: 75px;
        }

        a {
          flex: 0 0 auto;
          width: 61px;
          height: auto;
          max-height: 70px;
          padding: 4px 11px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          place-items: center;
          background: #ffffff;
          border-radius: 5px;

          .thumbnail {
            width: 100%;
            max-width: 30px;
            height: 100%;
            max-height: 30px;
          }

          span {
            @include text-style('Roboto Medium', normal, 500, 10px, 15px);
            color: #000000;
            text-align: center;
          }
        }

        .ShowMore {
          flex: 0 0 100%;
          width: 100%;
          max-width: 100%;
          text-align: center;
        }
      }

    }

    .certifications {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      grid-area: F;

      span {
        margin-bottom: 20px;
      }

      .empty-certificate {
        width: 49px;
        height: 44px;
        background: #ffffff;
      }
    }

    a.red-btn {
      grid-area: G;
      padding: 13px 30px;
      text-align: center;
      @include text-style('Roboto Medium', normal, 500, 25px, 29px);
      color: #ffffff;
      width: 100%;
      max-width: 214px;
      height: 100%;
      max-height: 56px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 25px;
    }
  }
}
