@import "sass/abstracts/mixins/mixins";
@import "sass/abstracts/variables/colors";

.information-review {
  padding: 30px 27px 30px 17px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .info-review-block {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    h2 {
      @include middle-title();
      margin-bottom: 15px;
    }

    &.left-info {
      max-width: 623px;
      z-index: 10;

      .info-description {
        width: 100%;
        max-width: 575px;
        margin-bottom: 30px;

        p {
          margin-top: 0;
          margin-bottom: 15px;
          @include text-style('Roboto Medium', normal, 500, 18px, 21px);
          color: #ffffff;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .info-group {
        padding-left: 13px;

        h2 {
          @include middle-title();
          margin-bottom: 15px;
        }

        .info-table-list {
          margin-bottom: 34px;
          background: transparent;
          border-radius: 10px;
          display: table;
          table-layout: fixed;
          width: 100%;
          max-width: 612px;
          border-spacing: 2px;
          border-collapse: collapse;
          position: relative;
          border: 2px solid transparent;
          overflow: hidden;

          > tbody {
            padding: 2px;
            position: relative;

            > tr {
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              position: relative;
              z-index: 99;
              margin-bottom: 2px;

              &:last-child {
                margin-bottom: 0;
              }

              & > td {
                flex: 0 0 50%;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                position: relative;
                z-index: 10;
                width: 100%;
                max-width: 306px;
                padding: 10px 15px 17px 7px;
                background: #ffffff;

                &:first-child {
                  margin-right: 3px;
                }

                .info-name, .info-value {
                  background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
                  @include text-style('Roboto Medium', normal, 500, 14px, 16px);
                  flex: 0 0 49%;
                  word-break: break-all;
                }
              }

            }
          }

          > tbody > tr:first-child {
            > td {
              padding-top: 22px;
            }
          }

          > tbody > tr:last-child {
            > td {
              padding-bottom: 25px;
            }
          }

          &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%),
            linear-gradient(0deg, #6667AB, #6667AB);
            z-index: -1;
          }
        }
      }

      .advantages-grid {
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 623px;

        h2 {
          @include middle-title();
          width: 100%;
          max-width: 100%;
          //flex: 0 0 100%;
          margin-top: 0;
          margin-bottom: 15px;
          margin-left: 17px;
        }

        .advantages-section {
          //flex: 0 0 100%;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          max-width: 100%;

          .advantages-block {
            width: 100%;
            max-width: 306px;
            height: 100%;
            max-height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.77)), #FFFFFF;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 20px 5px 20px 10px;

            .advantages-title {
              background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              @include text-style('Roboto Medium', normal, 500, 25px, 29px);
              width: 100%;
              max-width: 100%;
              text-align: center;
              margin-top: 0;
              margin-bottom: 20px;
            }

            .advantages-list {
              flex: 0 0 49%;
              width: 100%;
              max-width: 100%;
              list-style-type: none;
              margin-left: 0;
              padding-left: 0;
              margin-bottom: 0;

              > li {
                background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                position: relative;
                width: 100%;
                max-width: 100%;
                padding-left: 30px;
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }

                &::before {
                  content: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11C22 17.0751 17.0751 22 11 22C4.92485 22 0 17.0751 0 11C0 4.92485 4.92485 0 11 0C17.0751 0 22 4.92485 22 11ZM9.72764 16.8244L17.8889 8.66312C18.1661 8.38599 18.1661 7.93663 17.8889 7.6595L16.8853 6.65589C16.6082 6.37871 16.1588 6.37871 15.8816 6.65589L9.22581 13.3117L6.11835 10.2042C5.84122 9.9271 5.39186 9.9271 5.11469 10.2042L4.11107 11.2078C3.83394 11.485 3.83394 11.9343 4.11107 12.2115L8.72398 16.8244C9.00115 17.1015 9.45046 17.1015 9.72764 16.8244Z' fill='%236667AB'/%3E%3Cpath d='M22 11C22 17.0751 17.0751 22 11 22C4.92485 22 0 17.0751 0 11C0 4.92485 4.92485 0 11 0C17.0751 0 22 4.92485 22 11ZM9.72764 16.8244L17.8889 8.66312C18.1661 8.38599 18.1661 7.93663 17.8889 7.6595L16.8853 6.65589C16.6082 6.37871 16.1588 6.37871 15.8816 6.65589L9.22581 13.3117L6.11835 10.2042C5.84122 9.9271 5.39186 9.9271 5.11469 10.2042L4.11107 11.2078C3.83394 11.485 3.83394 11.9343 4.11107 12.2115L8.72398 16.8244C9.00115 17.1015 9.45046 17.1015 9.72764 16.8244Z' fill='url(%23paint0_linear_748_6288)' fill-opacity='0.2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_748_6288' x1='11' y1='3.35099' x2='11' y2='19.8146' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.421875' stop-color='%23A119E0'/%3E%3Cstop offset='0.869792' stop-color='%23A119E0' stop-opacity='0.92'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                  width: 22px;
                  height: 22px;
                  position: absolute;
                  display: block;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }

          .disadvantages-block {
            width: 100%;
            max-width: 306px;
            height: 100%;
            max-height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.77)), #FFFFFF;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 20px 5px 20px 10px;

            .disadvantages-title {
              background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              @include text-style('Roboto Medium', normal, 500, 25px, 29px);
              width: 100%;
              max-width: 100%;
              text-align: center;
              margin-top: 0;
              margin-bottom: 20px;
            }

            .disadvantages-list {
              flex: 0 0 49%;
              width: 100%;
              max-width: 100%;
              list-style-type: none;
              margin-left: 0;
              padding-left: 0;
              margin-bottom: 0;

              > li {
                background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                position: relative;
                width: 100%;
                max-width: 100%;
                padding-left: 30px;
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }

                &::before {
                  content: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0C4.92489 0 0 4.92485 0 11C0 17.0751 4.92489 22 11 22C17.0751 22 22 17.0751 22 11C22 4.92489 17.0751 0 11 0ZM16.7709 5.22908C19.6739 8.13202 19.8758 12.569 17.688 15.6807L6.31923 4.312C9.43312 2.12282 13.8696 2.32779 16.7709 5.22908ZM5.22908 16.7709C2.32615 13.868 2.12424 9.43104 4.31196 6.31928L15.6808 17.688C12.5669 19.8772 8.13042 19.6723 5.22908 16.7709Z' fill='%236667AB'/%3E%3Cpath d='M11 0C4.92489 0 0 4.92485 0 11C0 17.0751 4.92489 22 11 22C17.0751 22 22 17.0751 22 11C22 4.92489 17.0751 0 11 0ZM16.7709 5.22908C19.6739 8.13202 19.8758 12.569 17.688 15.6807L6.31923 4.312C9.43312 2.12282 13.8696 2.32779 16.7709 5.22908ZM5.22908 16.7709C2.32615 13.868 2.12424 9.43104 4.31196 6.31928L15.6808 17.688C12.5669 19.8772 8.13042 19.6723 5.22908 16.7709Z' fill='url(%23paint0_linear_748_6296)' fill-opacity='0.2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_748_6296' x1='11' y1='3.35099' x2='11' y2='19.8146' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.421875' stop-color='%23A119E0'/%3E%3Cstop offset='0.869792' stop-color='%23A119E0' stop-opacity='0.92'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                  width: 22px;
                  height: 22px;
                  position: absolute;
                  display: block;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }

    &.right-info {
      flex: 0 0 auto;
      width: 100%;
      max-width: 590px;
      z-index: 10;

      .editors-verdict {
        h2 {
          @include middle-title();
          width: 100%;
          max-width: 100%;
          //flex: 0 0 100%;
          margin-top: 0;
          margin-bottom: 15px;
        }

        .editors-verdict-list {
          display: flex;
          flex-flow: column;

          .editors-verdict-block {
            display: flex;
            flex-flow: column;
            position: relative;
            justify-content: space-between;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin-bottom: 15px;
            overflow: initial !important;

            &.open {
              border-radius: 10px 10px 0 0;
            }

            .editors-verdict-name {
              position: relative;
              z-index: 0;
              padding: 16px 22px 17px 16px;
              width: 100%;
              max-width: 100%;

              .verdict-head {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                width: 100%;
                padding-right: 30px;

                .verdict-name {
                  @include text-style('Robto Medium', normal, 500, 20px, 23px);
                  background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
                }

              }

              .ranks-wrap {
                margin-top: 0;

                .rank-value {
                  background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
                  @include text-style('Roboto Medium', normal, 500, 18px, 21px);
                  padding: 0 20px;
                }
              }
            }

            .editors-verdict-descr {
              background: #FFFFFF;
              border: 1px solid #FFFFFF;
              border-radius: 0 0 10px 10px;
              position: absolute;
              top: 59px;
              left: 0;
              width: 100%;
              max-width: 100%;
              padding: 23px 22px 17px 22px;
              z-index: 99;

              p {
                @include text-style('Roboto Medium', normal, 500, 18px, 21px);
                background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-top: 0;
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      //.verdict-middle{
      //  display: flex;
      //  flex-flow: row;
      //  justify-content: center;
      //  width: 100%;
      //  max-width: 100%;
      //  margin-bottom: 25px;
      //  .verdict-middle-title{
      //    @include text-style('Robto Medium',noraml,500,30px,35px);
      //    color: #ffffff;
      //    margin-right: 10px;
      //  }
      //  .editors-verdict-middle-group{
      //    position: relative;
      //    width: 100%;
      //    max-width: 93px;
      //    background: #FFFFFF;
      //    border-radius: 10px;
      //    padding: 11px 10px 11px 40px;
      //    &::before{
      //      display: block;
      //      position: absolute;
      //      left: 10px;
      //      top: 11px;
      //      content: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.9271 0.695722L6.48599 5.86696L1.02432 6.69889C0.0448775 6.84731 -0.347645 8.10887 0.362634 8.83144L4.31403 12.8544L3.37945 18.5373C3.21123 19.5645 4.24674 20.3339 5.11403 19.8535L10 17.1702L14.886 19.8535C15.7533 20.33 16.7888 19.5645 16.6206 18.5373L15.686 12.8544L19.6374 8.83144C20.3476 8.10887 19.9551 6.84731 18.9757 6.69889L13.514 5.86696L11.0729 0.695722C10.6355 -0.226039 9.36823 -0.237757 8.9271 0.695722Z' fill='%23FFE600'/%3E%3C/svg%3E%0A");
      //    width: 20px;
      //      height: 20px;
      //    }
      //    .verdict-middle-value{
      //      @include text-style('Roboto Medium', normal,500,18px,21px);
      //      color: #000000;
      //    }
      //  }
      //}
      .info-description {
        width: 100%;
        max-width: 552px;

        p {
          margin-top: 0;
          margin-bottom: 15px;
          @include text-style('Roboto Medium', normal, 500, 18px, 21px);
          color: #ffffff;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .info-review-after {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.verdict-middle {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;

  .verdict-middle-title {
    @include text-style('Robto Medium', noraml, 500, 30px, 35px);
    color: #ffffff;
    margin-right: 10px;
  }

  .editors-verdict-middle-group {
    position: relative;
    width: 100%;
    max-width: max-content;
    height: 100%;
    max-height: 44px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 11px 10px 11px 40px;

    &::before {
      display: block;
      position: absolute;
      left: 10px;
      top: 11px;
      content: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.9271 0.695722L6.48599 5.86696L1.02432 6.69889C0.0448775 6.84731 -0.347645 8.10887 0.362634 8.83144L4.31403 12.8544L3.37945 18.5373C3.21123 19.5645 4.24674 20.3339 5.11403 19.8535L10 17.1702L14.886 19.8535C15.7533 20.33 16.7888 19.5645 16.6206 18.5373L15.686 12.8544L19.6374 8.83144C20.3476 8.10887 19.9551 6.84731 18.9757 6.69889L13.514 5.86696L11.0729 0.695722C10.6355 -0.226039 9.36823 -0.237757 8.9271 0.695722Z' fill='%23FFE600'/%3E%3C/svg%3E%0A");
      width: 20px;
      height: 20px;
    }

    .verdict-middle-value {
      @include text-style('Roboto Medium', normal, 500, 18px, 21px);
      color: #000000;
    }
  }
}
