@import "sass/abstracts/mixins/mixins";

.sliders-group {
  justify-content: space-between;
  padding: 30px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  h2 {
    @include middle-title();
    margin-bottom: 30px;
    margin-top: 0;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .images-slider, .video-slider {
    width: 100%;
    max-width: 600px;
    flex: 0 0 49%;

    .slick-dots {
      display: flex;
      flex-flow: row;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      li {
        width: 20px;
        height: 10px;
        margin-right: 10px;

        button {
          font-size: 0;
          height: 20px;
          width: 20px;
          background: #ffffff;
          border-radius: 50%;
          border: none;
        }

        &.slick-active {
          button {
            background: radial-gradient(846.08% 7825.73% at 72.28% 77.36%, rgba(255, 0, 0, 0.2) 33.33%, rgba(231, 39, 39, 0.003125) 99.99%, rgba(231, 39, 39, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
            , linear-gradient(0deg, rgba(135, 0, 57, 0.2), rgba(135, 0, 57, 0.2)), #6667AB;
          }
        }
      }
    }

    .slide {
      width: 100%;
      max-width: 509px;
      position: relative;
      /*margin: 0 20px 0 0;*/
      margin-right: 6px;
      margin-left: 5px;
    }
  }

  .video-slider .slide, .video-slider .slide iframe {
    height: 439px !important;
  }

  .slider {
    margin-bottom: 31px;
  }

  .images-slider, .video-slider {
    .slide img, .slide iframe {
      width: 100%;
      max-width: 509px;
      height: auto;
      max-height: 439px;
    }

    .slick-list {
      margin: 0 auto 20px auto;
      padding: 0 5px !important;
      width: 100%;
      max-width: 509px;
      height: 100%;
      max-height: 439px;
    }
  }

  .slick-track {
    //margin-left: -5px;
    //margin-right: -5px;
  }

  .images-slider, .video-slider {
    .slick-arrow:focus {
      outline: none;
    }

    .slick-arrow {
      background: none;
      border: 0;
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      background: transparent;
      padding: 0;
      width: 30px;
      height: 44px;
    }

    .slick-arrow:hover {
      cursor: pointer;
    }

    .slick-next {
      right: 5px;
      transform: translateY(-50%) rotate(180deg);
    }

    .slick-prev {
      left: 5px;
    }
  }
}
