@import "sass/abstracts/mixins/mixins";

.top-block {
  h2.middle-title {
    @include middle-title();
    width: 100%;
    max-width: 833px;
    margin-bottom: 25px;
  }

  .top-content {
    padding: 22px 17px 2px 17px;

    p {
      margin: 0 0 20px 0;
      @include text-style('Roboto Medium', normal, 500, 18px, 21px);
      color: #ffffff;
    }
  }

  .open-filter {
    display: none;
    width: 100%;
    max-width: 388px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include text-style('Roboto Medium', normal, 500, 20px, 23px);
    color: #ffffff;
    border-radius: 10px;

    svg {
      margin-right: 10px;
    }

    @include for-big-phone {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    margin-top: 15px;
  }

  margin-bottom: 25px;
}
