@import "sass/abstracts/mixins/mixins";

.most-popular-games {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
  @include for-tablet-landscape-up {
    justify-content: space-around;
    margin-bottom: 0;
  }
  @include for-tablet-mdl {
    justify-content: space-between;
  }
  @include for-big-phone {
    justify-content: center;
  }

  h2 {
    @include middle-title;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 20px;

    @include for-big-phone {
      text-align: center;
    }
  }

  a {
    flex: 0 0 auto;
    width: 100%;
    max-width: 289px;
    @include for-tablet-landscape-up {
      width: auto;
      max-width: 100%;
      margin-bottom: 20px;
    }
    @include for-tablet-mdl {
      flex: 0 0 49%;
      text-align: center;
    }
    @include for-big-phone {
      flex: 0 0 100%;
    }

    img {
      width: 100%;
      max-width: 289px;
      height: 100%;
      max-height: 139px;
      border-radius: 10px;
      @include for-tablet-landscape-up {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
      @include for-big-phone {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
