@import "sass/abstracts/mixins/mixins";

.type-game-guide-section {
  margin-bottom: 50px;

  .type-game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 32px 25px;
    @include for-tablet {
      grid-template-columns: 1fr;
      place-items: center;
    }

    .type-game-item {
      width: 100%;
      max-width: 624px;
      height: 100%;
      max-height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(160px, auto) auto auto 50px minmax(28px, auto);
      background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
      border-radius: 10px;
      overflow: hidden;
      @include for-big-phone {
        max-width: 100%;
      }

      .type-game-top {
        background: #FFFFFF;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
        }

      }

      .type-game-name {
        @include small-title;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        @include for-big-phone {
          max-width: 100%;
        }
      }

      .type-game-descr {
        width: 100%;
        max-width: 100%;
        @include for-big-phone {
          max-width: 100%;
        }

        p {
          @include text-style('Roboto', normal, 500, 18px, 21px);
          color: #ffffff;
          margin-top: 0;
          margin-bottom: 20px;
          text-align: center;

          @include for-big-phone {
            text-align: center;
          }
          @include for-middle-phone {
            @include text-style('Roboto', normal, 500, 16px, 21px);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;

      }

      .type-game-link {
        margin-left: auto;
        margin-right: auto;
        @include text-style('Roboto', normal, 500, 20px, 23px);
        color: #ffffff;
        width: 100%;
        max-width: 254px;
        @include for-big-phone {
          width: 100%;
          max-width: calc(100% - 40px);
        }
        padding: 13.5px 20px;
        text-align: center;
      }

      footer {
        padding: 5px;
        background: rgba(69, 255, 4, 0.45);
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        @include text-style('Roboto', normal, 500, 15px, 18px);
        color: #ffffff;

        svg {
          margin-right: 9px;
        }
      }
    }
  }
}
