.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.breadcrumbs {
  display: flex;
  flex-flow: row;
  color: #FFFFFF;
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 100%;
}

.breadcrumbs a {
}

.breadcrumbs span a {
  @include text-style('Roboto Medium', normal, 500, 15px, 18px);
  text-decoration-line: underline;
  color: #FFFFFF;
}

.breadcrumbs span:last-child a {
  background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-decoration: none;
}

.breadcrumbs span.line {
  max-height: 24px;
  display: flex;
  align-items: flex-start;
  padding: 1px 2px 0 2px;
}
