@import "../../abstracts/mixins/mixins";

.mycontainer {
  width: 100% !important;
  max-width: 1280px !important;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative !important;
  @include for-desktop-up {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  @include for-phone-only {
    padding: 0 10px !important;
  }
}

.dark-decor-block {
  background: #7158B5;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.dark-decor-section {
  background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 50px;
}
