@import "../../abstracts/mixins/mixins";
header .filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 359px;
  background: #ffffff;
  height: 100%;
  max-height: 100%;
  z-index: 999;

  &.show {
    display: flex !important;

    .filter-sidebar {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      width: 100%;
      max-width: 100%;

      .sidebar-title {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        margin: 0 !important;
        position: relative;
        display: flex;
        justify-content: space-between;

        flex-flow: row;
        align-items: center;
        @include text-style('Roboto', normal, 500, 15px, 16px);
        background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border-bottom: 0;

        svg {
          margin-right: 10px;
          margin-bottom: 5px;

          path {
            fill: #6667AB;
          }
        }

        button.close-filter {
          display: block;
          background: transparent;
          border: none;
          padding: 3px;
          margin-left: auto;

          svg {
            margin: 0;
          }

        }

        &::after {
          position: absolute;
          width: 100%;
          max-width: 100%;
          left: 0;
          bottom: 0;
          height: 3px;
          background: linear-gradient(0deg, #6667AB, #6667AB),
          linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%);
          display: block;
          content: '';
        }
      }


      .myaccordion {
        width: 100%;
        max-width: 359px;
        background: #FFFFFF;
        overflow: initial;
        border-radius: 0;

        .card {
          position: relative;
          border-bottom: 0;

          &::after {
            position: absolute;
            width: 100%;
            max-width: 100%;
            left: 0;
            bottom: 0;
            height: 3px;
            background: linear-gradient(0deg, #6667AB, #6667AB),
            linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%);
            display: block;
            content: '';
          }

          &:last-child::after {
            display: none;
          }

          background: transparent;
          border-radius: 0;

          div button {
            margin: 0;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;

            svg {
              &.left-ico {
                margin-right: 11px;

                path {
                  fill: #6667AB;
                }
              }
            }

            .filter-name {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 22px;
              line-height: 26px;
              background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }

        h5 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }

      .card:last-child {
        border: none;
      }

      .card:first-child {
        .card-header h2 button {
          svg {
            margin-right: 13px;

          }

          span.filter-name {
            font-size: 27px;
            line-height: 32px;
            text-align: center;

          }
        }
      }

      .card-header {
        background: transparent;
        padding: 13px 14px 11px 10px !important;
        border: none;

        &:hover button {
          outline: none;
          border: none;
        }
      }

      .fa-stack {
        font-size: 18px;
        margin-left: auto;

        svg {
          margin: 0 !important;

          &.sidebar-arrow {
            display: none;
          }

          &.filter-arrow {
            display: flex;
            margin: 15px 0 0 auto !important;
          }
        }
        }

        &.show-ico svg {
          transform: rotate(180deg);
        }
      }

      .btn {
        width: 100%;
        padding: 0;
        border: none;

        &:hover {
          outline: none;
          border: none;
        }

        svg {
          margin-right: 10px;
        }
      }

      .btn-link:hover,
      .btn-link:focus {
        text-decoration: none;
        outline: none;
      }

      ul {
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;

        > li {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          @include text-style('Roboto', normal, 500, 16px, 19px);
          background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;

          input[type="checkbox"] {
            background: #FFFFFF;
            border-radius: 5px;
            width: 17px;
            height: 17px;
            margin-right: 10px;
          }
        }
      }

      li + li {
        margin-top: 10px;
      }
    }
  }

}

.site-header {
  background: $color__violet_background;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  padding: 12px 0 0 0;
  position: relative;
  @include for-big-phone {
    padding-top: 22px;
  }

  #mega-menu-wrap-head-mob-menu {
    display: none;
    //@include for-desktop {
    //  display: block;
    //  order: 4;
    //}
  }

  #mega-menu-wrap-menu-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    #mega-menu-menu-2 {
      padding-bottom: 0 !important;

      > li.mega-menu-megamenu.mega-menu-item {

        @include for-desktop-mdl {
          margin-bottom: 20px;
          padding-bottom: 0;
        }
      }
    }
  }

  @include for-tablet-landscape-up {
    #mega-menu-wrap-menu-2 {
      padding-bottom: 0;
      padding-top: 20px !important;

      #mega-menu-menu-2 {
        justify-content: space-evenly;
        padding-bottom: 0;

        > li.mega-menu-item {
          flex: 0 0 30%;
          justify-content: flex-start;
          max-width: 100%;
        }
      }

    }
  }
  @include for-tablet {
    #mega-menu-wrap-menu-2 #mega-menu-menu-2 {
      padding: 0;
      justify-content: space-evenly;

      > li.mega-menu-item {
        flex: 0 0 49%;
        max-width: 100%;
      }
    }
  }
  @include for-big-phone {
    #mega-menu-wrap-menu-2 {
      padding-left: 10px;
      padding-right: 10px;

      #mega-menu-menu-2 {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;

        > li.mega-menu-item {
          max-width: 100%;
          flex: 0 0 49%;

          > a.mega-menu-link {
            font-size: 14px !important;
            justify-content: flex-start;
            @include for-phone {
              font-size: 11px !important;
            }
          }
        }

      }

      #mega-menu-menu-2 li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
        display: none;
        @include for-big-phone {
          display: block !important;
          margin-left: auto;
        }
      }
    }
  }
  @include for-middle-phone {
    #mega-menu-wrap-menu-2#mega-menu-menu-2 {
      justify-content: center;

      > li.mega-menu-item {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    #mega-menu-menu-2 li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
      font-size: 12px !important;
    }
  }
  @include for-phone {
    #mega-menu-wrap-menu-2#mega-menu-menu-2 {
      justify-content: center;

      > li.mega-menu-item {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    #mega-menu-menu-2 li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
      font-size: 12px !important;
    }
  }

  .container {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .site-branding {
    width: auto;
    max-width: 294px;
    height: auto;
    max-height: 80px;
    flex: 0 0 auto;
    margin-right: 21px;
    display: flex;
    flex-flow: row;
    align-items: center;
    @include for-big-phone {
      max-width: 50%;
    }
    @include for-middle-phone {
      margin-right: 0;
    }

    .site-description {
      font-family: 'Bebas Neue', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 42px;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 10px;
      @include for-tablet {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  .close-search {
    display: none;
  }

  .search-block {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 264px;
    order: 4;
    margin-bottom: 0;
    @include for-tablet {
      display: none;
      width: auto;
      max-width: 20px;
      margin-right: 9px;
      order: 4;
      margin-bottom: 0;
    }
    @include for-big-phone {
      margin-bottom: 0;
    }

    &.open-mob {
      display: block;
      position: absolute;
      right: 50px;
      top: 20px;
      width: 100%;
      max-width: 407px;
      //background: #FFFFFF;
      //border-radius: 6px;
      z-index: 999;
      height: 100%;
      max-height: 49px;
      @include for-big-phone {
        top: 12px;
      }
      @include for-middle-phone {
        max-width: calc(100% - 70px);
        top: 5px;
      }

      .close-search {
        display: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        z-index: 10;
      }

      .close-search {
        display: block;

      }

      .search-form {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 5px 10px;
        margin-top: 0;
      }
    }

    .search-form {
      background: #FFFFFF;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 100%;
      max-width: 264px;
      height: 100%;
      max-height: 37px;
      position: relative;
      margin-top: 10px;

      .close-search {
        display: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        z-index: 10;
      }

      &.open-mob {
        display: block;
        position: absolute;
        right: 0;

        .close-search {
          display: block;
        }
      }

      @include for-tablet {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 49px;
      }

      input[type="search"] {
        border: none;
        background: transparent;
        padding: 12px 0 12px 12px;
        font-size: 12px;
        line-height: 14px;
        width: calc(100% - 49px);
        @include for-tablet {
          height: 100%;
          max-height: 49px;
          padding-right: 10px;
        }
      }

      input[type="search"]:focus-visible {
        border: none;
      }

      input[type="submit"] {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.16668 2.33366C5.12911 2.33366 2.66668 4.57224 2.66668 7.33366C2.66668 10.0951 5.12911 12.3337 8.16668 12.3337C11.2042 12.3337 13.6667 10.0951 13.6667 7.33366C13.6667 4.57224 11.2042 2.33366 8.16668 2.33366ZM0.833344 7.33366C0.833344 3.65176 4.11659 0.666992 8.16668 0.666992C12.2168 0.666992 15.5 3.65176 15.5 7.33366C15.5 8.87425 14.9252 10.2928 13.9599 11.4217L18.8982 15.9111C19.2562 16.2365 19.2562 16.7641 18.8982 17.0896C18.5402 17.415 17.9598 17.415 17.6018 17.0896L12.6635 12.6002C11.4217 13.4778 9.86133 14.0003 8.16668 14.0003C4.11659 14.0003 0.833344 11.0156 0.833344 7.33366Z' fill='black'/%3E%3C/svg%3E%0A");
        border: none;
        background-size: 20px 18px;
        background-position: center;
        background-repeat: no-repeat;
        @include for-tablet {
          display: none;
          top: auto;
          transform: none;
          position: relative;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.91927 2.16634C4.29592 2.16634 2.16927 4.29299 2.16927 6.91634C2.16927 9.53969 4.29592 11.6663 6.91927 11.6663C9.54262 11.6663 11.6693 9.53969 11.6693 6.91634C11.6693 4.29299 9.54262 2.16634 6.91927 2.16634ZM0.585938 6.91634C0.585938 3.41854 3.42147 0.583008 6.91927 0.583008C10.4171 0.583008 13.2526 3.41854 13.2526 6.91634C13.2526 8.3799 12.7562 9.72752 11.9225 10.8L16.1874 15.0649C16.4966 15.374 16.4966 15.8753 16.1874 16.1845C15.8782 16.4936 15.377 16.4936 15.0678 16.1845L10.8029 11.9196C9.73045 12.7532 8.38283 13.2497 6.91927 13.2497C3.42147 13.2497 0.585938 10.4141 0.585938 6.91634Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }


  }

  .open-search {
    display: none;
    @include for-tablet {
      order: 4;
      background: transparent;
      border: none;
      display: block;
      width: auto;
      max-width: 17px;
      height: 17px;
      padding: 0;
      margin-right: 20px;
      margin-top: 0;
    }
  }

  .language-switcher {
    list-style: none;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 65px;
    height: 100%;
    max-height: 37px;
    margin-left: 40px;
    margin-top: 10px;
    order: 4;
    @include for-tablet {
      margin-top: 10px;
      margin-left: auto;
      margin-right: 20px;
      order: 3;
    }
    @include for-big-phone {
      max-width: 50px;
      max-height: 37px;
    }

    button {
      padding: 7px;
      border: none;
      background: transparent;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      @include for-big-phone {
        padding: 4px 3px 2px 0;
      }

      li {
        @include for-big-phone {
          //padding-left: 0;
        }

        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 7px;
        @include for-big-phone {
          font-size: 14px;
          line-height: 16px;
          padding: 3px 0px 3px 3px;
        }

        span {
          position: relative;
        }

        span::after {
          display: block;
          content: '|';
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
          position: absolute;
          right: -4px;
          top: 0;
          height: 5px;
          width: 1px;
          @include for-big-phone {
            top: -3px;
          }
        }

        img {
          margin-left: 10px;
          @include for-big-phone {
            width: 10px;
            height: 10px;
          }
        }

        a {
          display: flex;
          flex-flow: row-reverse;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
          text-decoration: none;
          padding-left: 7px;
          @include for-big-phone {
            font-size: 14px;
            line-height: 16px;
            padding: 3px 0px 3px 3px;
          }

          span {
            position: relative;
          }

          span::after {
            display: block;
            content: '|';
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            position: absolute;
            right: -4px;
            top: 0;
            height: 5px;
            width: 1px;
            @include for-big-phone {
              top: -3px;
            }
          }

          img {
            margin-left: 10px;
            @include for-big-phone {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }

    .languages {
      display: none;
      list-style: none;
      flex-flow: column;
      position: absolute;
      bottom: auto;
      left: 0;
      margin-left: 0;
      padding-left: 0;
      z-index: 999;
      padding-bottom: 10px;

      > li {
        display: block;
        position: relative;
        padding: 5px;

        a {
          display: flex;
          flex-flow: row-reverse;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
          text-decoration: none;
          position: relative;
          align-items: center;

          img {
            margin-left: 10px;
          }

          span {
            position: relative;
            margin-left: .5em !important;

          }

          span::after {
            display: block;
            content: '|';
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            position: absolute;
            right: -4px;
            top: 0;
            height: 5px;
            width: 1px;
            @include for-big-phone {
              top: -2px;
              height: 3px;
            }
          }
        }
      }

      > li.current-lang {

      }
    }

    .languages.active {
      visibility: visible;
      opacity: 1;
    }

  }
}
