@import "sass/abstracts/mixins/mixins";

.benefits-gambling-section {
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-top: 30px;

  h2 {
    @include middle-title;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 30px;
    @include for-tablet {
      @include text-style('Roboto', normal, 500, 35px, 43px);

    }
    @include for-big-phone {
      @include text-style('Roboto', normal, 500, 24px, 28px);
      text-align: center;
    }
    @include for-phone {
      @include text-style('Roboto', normal, 500, 20px, 26px);
    }
  }

  .benefits-head-content {
    padding: 0 30px 20px 30px;
    position: relative;

    .benefits-content {
      width: 100%;
      max-width: calc(100% - 210px);
      @include for-tablet {
        max-width: 100%;
      }
    }

    .benefits-image {
      position: absolute;
      top: 45%;
      right: 40px;
      transform: translateY(-50%);
      display: block;
    }
  }

  .benefits-content-item {
    padding: 20px 70px 0 30px;
    width: 100%;
    max-width: 100%;
    border-top: 3px solid rgba(255, 255, 255, 1);
    @include for-tablet-landscape-up {
      padding-right: 30px;
    }

    h3 {
      @include small-title;
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 15px;
      @include for-big-phone {
        text-align: center;
      }

    }
  }

  .benefits-content {
    padding-right: 30px;

    p {
      @include text-style('Roboto', normal, 500, 18px, 21px);
      color: #ffffff;
      margin-bottom: 0;
      @include for-big-phone {
        text-align: center;
      }
      @include for-middle-phone {
        @include text-style('Roboto', normal, 500, 16px, 21px);
      }
    }

    @include for-tablet-landscape-up {
      padding-right: 0;
    }
    margin-bottom: 21px;
  }
}
