@import "sass/abstracts/mixins/mixins";

.calculate-bonus-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .left-calculate-block {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 100%;
    max-width: 600px;

    h2 {
      @include text-style('Roboto Medium', normal, 500, 38px, 45px);
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .calculate-content {
      margin-bottom: 30px;

      p {
        @include text-style('Roboto Medium', normal, 500, 28px, 33px);
        color: #ffffff;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .tip-block-content {
      padding: 24px 32px 40px 30px;
      width: 100%;
      max-width: 572px;
      height: 100%;
      max-height: 100%;

      .tip-title {
        @include text-style('Roboto Medium', normal, 500, 36px, 42px);
        color: #ffffff;
        padding-left: 35px;
        margin-bottom: 20px;
        position: relative;

        &::before {
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: url("data:image/svg+xml,%3Csvg width='25' height='22' viewBox='0 0 25 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.81687 0.172337C6.76243 0.117712 6.69775 0.0743702 6.62653 0.0447967C6.55531 0.0152232 6.47895 0 6.40183 0C6.32471 0 6.24835 0.0152232 6.17713 0.0447967C6.10591 0.0743702 6.04123 0.117712 5.98679 0.172337L2.87742 3.26365L1.76902 2.18357C1.71458 2.12894 1.6499 2.0856 1.57868 2.05603C1.50745 2.02645 1.4311 2.01123 1.35398 2.01123C1.27686 2.01123 1.2005 2.02645 1.12928 2.05603C1.05806 2.0856 0.993374 2.12894 0.938939 2.18357L0.172337 2.95115C0.117712 3.00558 0.0743702 3.07026 0.0447967 3.14149C0.0152232 3.21271 0 3.28907 0 3.36618C0 3.4433 0.0152232 3.51966 0.0447967 3.59088C0.0743702 3.66211 0.117712 3.72679 0.172337 3.78122L2.49607 6.09568C2.61206 6.20593 2.76597 6.26741 2.926 6.26741C3.08603 6.26741 3.23994 6.20593 3.35593 6.09568L4.11716 5.33298L7.64255 1.80808C7.75239 1.69815 7.81446 1.54934 7.81528 1.39394C7.8161 1.23854 7.75562 1.08909 7.64695 0.978001L6.81687 0.172337ZM6.81687 7.94529C6.76243 7.89066 6.69775 7.84732 6.62653 7.81775C6.55531 7.78817 6.47895 7.77295 6.40183 7.77295C6.32471 7.77295 6.24835 7.78817 6.17713 7.81775C6.10591 7.84732 6.04123 7.89066 5.98679 7.94529L2.87742 11.0566L1.76902 9.97751C1.71458 9.92289 1.6499 9.87955 1.57868 9.84997C1.50745 9.8204 1.4311 9.80518 1.35398 9.80518C1.27686 9.80518 1.2005 9.8204 1.12928 9.84997C1.05806 9.87955 0.993374 9.92289 0.938939 9.97751L0.172337 10.7436C0.117712 10.7981 0.0743702 10.8627 0.0447967 10.934C0.0152232 11.0052 0 11.0815 0 11.1587C0 11.2358 0.0152232 11.3121 0.0447967 11.3834C0.0743702 11.4546 0.117712 11.5193 0.172337 11.5737L2.49021 13.893C2.60612 14.0033 2.75995 14.0647 2.9199 14.0647C3.07984 14.0647 3.23368 14.0033 3.34958 13.893L4.11619 13.1269L7.64158 9.60056C7.751 9.4914 7.81285 9.34342 7.81368 9.18887C7.8145 9.03431 7.75422 8.88568 7.64597 8.77536L6.81687 7.94529ZM3.12497 16.4077C1.83152 16.4077 0.752415 17.4575 0.752415 18.7514C0.752415 20.0454 1.83249 21.0952 3.12497 21.0952C3.74657 21.0952 4.34272 20.8483 4.78226 20.4087C5.22179 19.9692 5.46872 19.373 5.46872 18.7514C5.46872 18.1298 5.22179 17.5337 4.78226 17.0942C4.34272 16.6546 3.74657 16.4077 3.12497 16.4077ZM24.2187 17.1889H10.1562C9.94902 17.1889 9.75031 17.2712 9.6038 17.4178C9.45728 17.5643 9.37497 17.763 9.37497 17.9702V19.5327C9.37497 19.7399 9.45728 19.9386 9.6038 20.0851C9.75031 20.2316 9.94902 20.3139 10.1562 20.3139H24.2187C24.4259 20.3139 24.6246 20.2316 24.7712 20.0851C24.9177 19.9386 25 19.7399 25 19.5327V17.9702C25 17.763 24.9177 17.5643 24.7712 17.4178C24.6246 17.2712 24.4259 17.1889 24.2187 17.1889ZM24.2187 1.56394H10.1562C9.94902 1.56394 9.75031 1.64625 9.6038 1.79276C9.45728 1.93927 9.37497 2.13799 9.37497 2.34519V3.90769C9.37497 4.11489 9.45728 4.3136 9.6038 4.46012C9.75031 4.60663 9.94902 4.68894 10.1562 4.68894H24.2187C24.4259 4.68894 24.6246 4.60663 24.7712 4.46012C24.9177 4.3136 25 4.11489 25 3.90769V2.34519C25 2.13799 24.9177 1.93927 24.7712 1.79276C24.6246 1.64625 24.4259 1.56394 24.2187 1.56394ZM24.2187 9.37644H10.1562C9.94902 9.37644 9.75031 9.45875 9.6038 9.60526C9.45728 9.75177 9.37497 9.95049 9.37497 10.1577V11.7202C9.37497 11.9274 9.45728 12.1261 9.6038 12.2726C9.75031 12.4191 9.94902 12.5014 10.1562 12.5014H24.2187C24.4259 12.5014 24.6246 12.4191 24.7712 12.2726C24.9177 12.1261 25 11.9274 25 11.7202V10.1577C25 9.95049 24.9177 9.75177 24.7712 9.60526C24.6246 9.45875 24.4259 9.37644 24.2187 9.37644Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      .tip-content {

        @include text-style('Roboto Medium', normal, 500, 26px, 30px);
        color: #ffffff;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .calculator {
    flex: 0 0 auto;
    width: 100%;
    max-width: 655px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;

    .head-calculator {
      padding: 30px 30px 52px 30px;
      display: flex;
      flex-flow: column;

      .calculator-title {
        @include text-style('Roboto Medium', normal, 500, 36px, 43px);
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .calculate-subtitle {
        @include text-style('Roboto Medium', normal, 500, 26px, 30px);
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 13px;
      }

      .calculate-form {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;

        input[type="text"], input[type="number"] {
          width: 100%;
          max-width: 404px;
          height: 100%;
          max-height: 56px;
          background: #FFFFFF;
          border-radius: 10px;
          @include text-style('Roboto Medium', normal, 500, 26px, 30px);
          color: #000000;
          padding: 13px 0 13px 47px;
          position: relative;
          margin-right: 15px;
          border: none;

          &::before {
            display: block;
            content: '$';
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            @include text-style('Roboto Medium', normal, 500, 26px, 30px);
            color: #000000;
          }

          &:focus {
            outline: none;
          }
        }

        input[type="submit"] {
          background: radial-gradient(846.08% 7825.73% at 72.28% 77.36%, rgba(255, 0, 0, 0.2) 33.33%, rgba(231, 39, 39, 0.003125) 99.99%, rgba(231, 39, 39, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
          , linear-gradient(0deg, rgba(135, 0, 57, 0.2), rgba(135, 0, 57, 0.2)), #6667AB;
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          width: 100%;
          max-width: 176px;
          height: 100%;
          max-height: 56px;
          padding: 17px 20px;
          text-align: center;
          border: none;
          @include text-style('Roboto Medium', normal, 500, 20px, 23px);
          color: #ffffff;
        }
      }
    }

    .calculator-table {
      //transform:rotate(90deg);
      border-collapse: collapse;
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-columns: minmax(160px, auto) auto auto auto;
      grid-template-rows: 1fr;
      height: 100%;
      max-height: 100%;
      position: relative;

      .tab-row {
        border-style: solid;
        border-color: white;
        border-width: 3px 3px 0 0;
        display: grid;
        grid-template-rows: minmax(160px, auto) 82px 92px 146px;
        grid-template-columns: 1fr;
        place-content: space-between;
        position: relative;

        #bonus-val-name, #bankroll-name {
          position: relative;

          .col-content {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            border: 0;
            position: relative;

            span {
              border: none;
            }

            svg {
              margin-left: 20px;
              position: relative;

            }
          }

          .tab-msg {
            display: none;
            position: absolute;
            left: calc(100% + 10px);
            padding: 15px;
            width: auto;
            min-width: 211px;
            height: auto;
            //max-height: 259px;
            background: #FFFFFF;
            border-radius: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;

            .triangle-left {
              width: 10px;
              height: 10px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid white;
              position: absolute;
              left: -10px;
              top: 50%;
              transform: translateY(-50%);
            }

            &.hoverstate {
              display: block;
            }

            span {
              @include text-style('Roboto Medium', normal, 500, 18px, 40px);
              background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }
        }

        &:last-child {
          border-right: 0;

          .logo-casino, .bonus-value, .bankroll-col, .claim.col {
            border-right: 0;
          }
        }

        @include text-style('Roboto Medium', normal, 500, 23px, 27px);
        color: #ffffff;

        div:first-child, span:first-child {
          height: auto;
          border-bottom: 3px solid white;
        }

        .bonus-value {
          text-align: center;
          padding: 28px 10px;
          height: 100%;
          max-height: 82px;
          //border-style: solid;
          //border-color: white;
          //border-width: 0 3px 0 0;
          vertical-align: middle;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
        }

        .logo-casino {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          //border-style: solid;
          //border-color: white;
          //border-width: 0 3px 0 0;
          img {
            width: 100%;
            max-width: 107px;
            height: 100%;
            max-height: 58px;
          }
        }

        .bankroll-col {
          border-style: solid;
          border-color: white;
          border-width: 3px 0 0 0;
          text-align: center;
          vertical-align: middle;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
        }

        .claim-col {
          border-style: solid;
          border-color: white;
          border-width: 3px 0 3px 0;
          text-align: center;
          vertical-align: middle;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;

          button {
            width: 100%;
            max-width: 107px;
            height: 100%;
            max-height: 109px;
            padding: 14px 20px;
            @include text-style('Roboto Medium', normal, 500, 23px, 40px);
            color: #ffffff;
            background: transparent;
            border: none;

            &:hover, &:focus, &:active {
              background: rgba(255, 255, 255, 0.2);
              border-radius: 10px;
            }
          }
        }
      }

    }

    .calculate-caption {
      width: 100%;
      max-width: 100%;
      @include text-style('Roboto Medium', normal, 500, 22px, 30px);
      color: #ffffff;
      padding: 20px;
      text-align: left;
    }
  }
}
