@import "sass/abstracts/mixins/mixins";

.different-types-section {
  padding: 30px 97px 30px 30px;
  @include for-desktop {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include for-phone {
    padding-top: 25px;
    padding-bottom: 0;
  }

  h2, h3 {
    @include for-big-phone {
      text-align: center;
    }
  }

  .different-type-name.accord-title {
    h4.dif-type-name {
      @include text-style('Roboto', normal, 500, 22px, 32px);
      color: #FFFFFF;
      text-align: left !important;

      @include for-tablet {
        @include text-style('Roboto', normal, 500, 20px, 43px);
        width: 100%;
      }
      @include for-big-phone {
        @include text-style('Roboto', normal, 500, 18px, 21px);

      }
      @include for-phone {
        @include text-style('Roboto', normal, 500, 16px, 26px);
      }
    }
  }

  .dif-type-description {
    margin-bottom: 15px;
    @include for-big-phone {
      padding-left: 30px;
      padding-right: 30px;
    }

    p {
      @include text-style('Roboto', normal, 500, 18px, 21px);
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      @include for-big-phone {
        text-align: center;
      }
      @include for-middle-phone {
        @include text-style('Roboto', normal, 500, 16px, 21px);

      }
    }
  }

  .different-types {
    .different-type-name {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
