@import "sass/abstracts/mixins/mixins";

.most-popular-games {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
@include for-tablet-portrait-up {
  justify-content: center;
}

  h2 {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }

  a {
    flex: 0 0 auto;
    width: 100%;
    max-width: 280px;
    @include for-tablet {
      margin-bottom: 20px;
    }
    @include for-tablet-portrait-up {
      flex: 0 0 100%;
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 10px;
    }
  }
}
