@import "sass/abstracts/mixins/mixins";

.other-casino-promotions {
  position: relative;
  padding: 30px 0 30px 0;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 30px;
    @include middle-title;
    @include for-big-phone {
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
    }
    @include for-phone {
    }
  }

  .other-casino-content {
    padding: 32px 21px 0 30px;
    width: 100%;
    max-width: 100%;
    border-top: 3px solid #ffffff;

    .bonus-decor-list {
      margin-bottom: 20px;
    }

    @include for-big-phone {
      border-top: 0;
      padding-top: 0;
    }

    p {
      @include text-style('Roboto', normal, 500, 18px, 21px);
      margin-top: 0;
      margin-bottom: 15px;
      color: #ffffff;
      @include for-big-phone {
        text-align: center;
      }
      @include for-middle-phone {
        @include text-style('Roboto', normal, 500, 16px, 21px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p {
    @include text-style('Roboto', normal, 500, 18px, 21px);
    margin-top: 0;
    margin-bottom: 15px;
    color: #ffffff;
    @include for-big-phone {
      text-align: center;
    }
    @include for-middle-phone {
      @include text-style('Roboto', normal, 500, 16px, 21px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .other-image-after {
    position: absolute;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    right: 160px;
    bottom: 0;
    z-index: 0;
  }
}
