@import "sass/abstracts/mixins/mixins";

.top-casinos {
  .top-casinos-grid {
    display: grid;
    gap: 0 43px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;

    .top-casino-item {
      background: #7159B5;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 288px;
      overflow: hidden;
      position: relative;
      display: grid;
      grid-template-rows: 45px 183px auto 1fr 45px auto 35px;
      grid-template-columns: 1fr;
      place-items: center;
      margin-top: 25px;

      .top-title {
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: 45px;
        width: 100%;
        max-width: 100%;

        h3 {
          background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
          @include text-style('Roboto Medium', normal, 500, 22px, 26px);
          color: #ffffff;
          width: 100%;
          max-width: 100%;
          text-align: center;
          padding: 9px 9px 3px 9px;
          margin: 0;
        }
      }

      .logo-casino {
        background: #ffffff;
        border-radius: 0 0 10px 10px;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin-bottom: 15px;
        display: flex;
        flex-flow: column;
        align-items: center;

        .wp-post-image {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 80px;
          margin-bottom: 8px;
        }
      }

      &.top-casino-item:nth-child(2) {
        order: -1;
      }

      &.top-casino-item:nth-child(1) {
        height: calc(100% + 25px);
        max-height: calc(100% + 25px);
        margin-top: 0;
      }

      .top-game-block {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 12px;

        h5 {
          margin: 0 0 13px 0;
          width: 100%;
          max-width: 100%;
          text-align: center;
          @include text-style('Roboto Medium', normal, 500, 16px, 19px);
          color: #ffffff;
        }

        span {
          @include text-style('Roboto Medium', normal, 500, 24px, 28px);
          color: #ffffff;
          width: 100%;
          max-width: 100%;
          text-align: center;
        }
      }

      .top-bonuses-block {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 11px;

        h5 {
          margin: 0 0 13px 0;
          width: 100%;
          max-width: 100%;
          text-align: center;
          @include text-style('Roboto Medium', normal, 500, 16px, 19px);
          color: #ffffff;
        }

        span {
          @include text-style('Roboto Medium', normal, 500, 24px, 28px);
          color: #ffffff;
          width: 100%;
          max-width: 100%;
          text-align: center;
        }
      }

      .bottom-top-three-block {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 10px;

        .win-rate-data, .payout-data {
          flex: 0 0 49%;
          width: 100%;
          max-width: 100%;
          margin: 0 0;
          text-align: center;
          display: flex;
          flex-flow: column;
          align-items: center;
          @include text-style('Roboto Medium', normal, 500, 22px, 26px);
          color: #ffffff;

          span {
            margin: 0 0 13px 0;
            width: 100%;
            max-width: 100%;
            text-align: center;
            @include text-style('Roboto Medium', normal, 500, 16px, 19px);
            color: #ffffff;
          }
        }

        .win-rate-data svg {
          margin-bottom: 14px;
        }

        .payout-data svg {
          margin-bottom: 5px;
        }
      }

      .hidden-info {
        display: none;
        background: #7159B5;
        position: absolute;
        bottom: 35px;
        z-index: 999;
        width: 100%;
        max-width: 288px;
        padding: 18px 25px 26px 20px;

        .deposit-methods {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-bottom: 34px;

          span {
            width: 100%;
            max-width: 100%;
            text-align: center;
            margin-bottom: 10px;
            @include text-style('Roboto Medium', normal, 500, 16px, 19px);
            color: #ffffff;
          }

          .deposits-method-grid {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
              flex: 0 0 auto;
              width: 100%;
              max-width: 55px;
              margin-bottom: 10px;
              padding: 0;

              img {
                width: 55px;
                height: 39px;
              }
            }
          }
        }

        .inform-review-results {
          display: flex;
          flex-flow: column;

          ul {
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 20px;

            > li {
              padding-left: 20px;
              @include text-style('Robto Medium', normal, 500, 14px, 16px);
              color: #ffffff;
              margin-bottom: 10px;
              position: relative;

              h3 {
                margin: 0;
                @include text-style('Robto Medium', normal, 500, 14px, 16px);

              }

              &::before {
                display: block;
                width: 14px;
                height: 11px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: url("data:image/svg+xml,%0A%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6753 0.542007C13.9088 0.758816 13.9392 1.11245 13.7578 1.36452L13.708 1.42528L5.583 10.1753C5.34875 10.4276 4.95957 10.4401 4.7097 10.2172L4.65465 10.1616L0.279648 5.16157C0.0523468 4.90179 0.0786703 4.50694 0.338443 4.27964C0.578234 4.06983 0.933121 4.07612 1.16508 4.28264L1.22037 4.33844L5.13938 8.81625L12.792 0.574721C13.0088 0.341234 13.3625 0.310793 13.6145 0.492229L13.6753 0.542007Z' fill='white'/%3E%3C/svg%3E%0A");
              }
            }

          }

          .red-btn {
            width: 100%;
            max-width: 223px;
            @include text-style('Roboto Medium', normal, 500, 18px, 21px);
            color: #fff;
            padding: 12px 30px;
            text-align: center;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
          }

          a {
            text-decoration: none;
            padding: 0;
            width: 100%;
            max-width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .bottom-top-three-block {
          display: flex;
          flex-flow: row;
          justify-content: space-between;

          .payout-data {
            flex: 0 0 49%;
            display: flex;
            flex-flow: column;
            width: 100%;
            max-width: 100%;
            align-items: center;

            span {
              @include text-style('Roboto Medium', normal, 500, 16px, 19px)
            }
          }

          .win-rate-data {
            flex: 0 0 49%;
            display: flex;
            flex-flow: column;
            width: 100%;
            max-width: 100%;

            span {
              @include text-style('Roboto Medium', normal, 500, 16px, 19px)
            }
          }
        }
      }

      a {
        padding: 12px 20px;
        width: 100%;
        max-width: 223px;
        height: 100%;
        max-height: 45px;
        @include text-style('Roboto Medium', normal, 500, 18px, 21px);
        text-align: center;
        text-decoration: none;
        color: #ffffff;
      }

      button.open-details {
        background: transparent;
        border: none;
        @include text-style('Robto Medium', normal, 500, 16px, 19px);
        color: #ffffff;
      }
    }
  }
}
