/*Review Archive page*/
/*Top block*/
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Roboto.woff2") format("woff2"), url("/fonts/Roboto.woff") format("woff"), url("/fonts/Roboto.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Robotomedium.woff2") format("woff2"), url("/fonts/Robotomedium.woff") format("woff"), url("/fonts/Robotomedium.ttf") format("truetype");
}

.top-block {
    margin-bottom: 50px;
}

.top-block h2.middle-title {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 100%;
    max-width: 833px;
}

.top-block .top-content {
    padding: 22px 17px 2px 17px;
}

.top-block .top-content p {
    margin: 0 0 20px 0;
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

/*Top Three casinos*/
.top-casinos .top-casinos-grid {
    display: grid;
    gap: 0 43px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.top-casinos .top-casinos-grid .top-casino-item {
    background: #7159B5;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 288px;
    overflow: hidden;
}

.top-casinos .top-casinos-grid .top-casino-item a {
    padding: 12px 20px;
    width: 100%;
    max-width: 223px;
    height: 100%;
    max-height: 45px;
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

/*Choose best block*/
.choose-best {
    padding: 0 0 0 28px;
}

.choose-best .left-choose {
    float: left;
    padding-top: 27px;
}

.choose-best .left-choose .small-title {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 15px;
}

.choose-best .left-choose .choose-best-content {
    margin-top: 27px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 547px;
}

.choose-best .left-choose .choose-best-content p {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.choose-best img {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/*Perfect Casinos List All Reviews*/
/*Review criteria Block*/
.review-criteria .description {
    width: 100%;
    max-width: 882px;
}

.review-criteria .description p {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 25px;
}

.review-criteria .criteria-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
    max-width: 100%;
}

.review-criteria .criteria-list .criteria-list-item {
    display: flex;
    margin-bottom: 25px;
    padding: 27px 46px 45px 28px;
}

.review-criteria .criteria-list .criteria-list-item .left-criteria {
    float: left;
    width: 100%;
    max-width: 698px;
}

.review-criteria .criteria-list .criteria-list-item .left-criteria .criteria-title {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    color: #ffffff;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.review-criteria .criteria-list .criteria-list-item .left-criteria .criteria-content {
    width: 100%;
    max-width: 100%;
}

.review-criteria .criteria-list .criteria-list-item .left-criteria .criteria-content p {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.review-criteria .criteria-list .criteria-list-item img {
    float: right;
    margin-left: auto;
}

/*Expert Ratings Block*/
.expert-ratings .expert-container {
    padding: 34px 19px 25px 29px;
    display: flex;
    flex-flow: column;
}

.expert-ratings .expert-container .middle-title {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: none !important;
    margin-bottom: 20px;
}

.expert-ratings .expert-container .rating-descr {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    margin-bottom: 19px;
}

.expert-ratings .expert-container .bottom-rating-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expert-ratings .expert-container .bottom-rating-block .right-decor-image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
}

.expert-ratings .expert-container .bottom-rating-block .right-part {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 100%;
}

.expert-ratings .expert-container .bottom-rating-block .right-part .expert-rating-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 0;
    padding-left: 22px;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    justify-items: center;
    align-items: center;
}

.expert-ratings .expert-container .bottom-rating-block .right-part .expert-rating-list .expert-rating-item {
    font-family: "Robto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 17px;
    width: auto;
    max-width: 100%;
}

.expert-ratings .expert-container .ranks-wrap {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 0;
}

.expert-ratings .expert-container .ranks-wrap .rating-title {
    margin: 0;
}

.expert-ratings .expert-container .ranks-wrap .rating-group {
    margin-left: 20px;
}

.expert-ratings a {
    color: #ffffff;
    padding: 19px;
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 68px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/*Choose Right Casino*/
.choose-right {
    margin-bottom: 0;
}

.choose-right .middle-title {
    width: 100%;
    max-width: 620px;
}

.choose-right .right-descr {
    width: 100%;
    max-width: 882px;
}

.choose-right .right-descr p {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 25px;
}

.choose-right .choose-right-casinos-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 25px;
}

.choose-right .choose-right-casinos-list > li {
    display: grid;
    grid-template-columns: 900px auto;
    grid-template-rows: auto;
    margin-bottom: 25px !important;
}

.choose-right .choose-right-casinos-list > li .choose-right-title {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.choose-right .choose-right-casinos-list > li .left-part {
    flex: 0 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 25px 20px 29px 49px;
}

.choose-right .choose-right-casinos-list > li .left-part .content-right p {
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.choose-right .choose-right-casinos-list > li .img-right {
    justify-self: center;
    align-self: center;
}

.choose-right .choose-right-casinos-list > li .img-right img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/*Single review*/
/*Sliders Group*/
.images-slider {
    width: 100%;
    max-width: 600px;
}

.images-slider .slide {
    width: 100%;
    max-width: 509px;
    position: relative;
    /*margin: 0 20px 0 0;*/
    margin-right: 5px;
    margin-left: 5px;
}

.images-slider .slider {
    margin-bottom: 31px;
}

.images-slider .slide img {
    width: 100%;
    max-width: 509px;
    height: auto;
}

.images-slider .slick-list {
    margin: 0 auto;
    padding: 0 5px !important;
    width: 100%;
    max-width: 600px;
}

.images-slider .slick-arrow:focus {
    outline: none;
}

.images-slider .slick-arrow {
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    padding: 10px;
    width: 69px;
    height: 69px;
}

.images-slider .slick-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}

.images-slider .slick-prev {
    left: 0;
    z-index: 99;
}

.slick-track {
    margin-left: -5px;
    margin-right: -5px;
}

/*# sourceMappingURL=reviews.css.map */
