@import "../../abstracts/mixins/mixins";

.best-casino-section {
  background: $color__background-light-violet;
  padding-top: 58px;
  padding-bottom: 58px;
  position: relative;

  .mycontainer {

    @include for-desktop-up {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  @include for-tablet-landscape-up {
    padding: 20px 0;
  }
  @include for-big-phone {
    background: transparent;
  }

  .bonuses-list {
    flex: 0 0 auto;
    width: 100%;
    max-width: 594px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    z-index: 10;

    h2.middle-title {
      @include bonus-title();
    }

    @include for-tablet-landscape-up {
      max-width: 100%;
    }
    @include for-desktop-mdl {
      z-index: 99;
    }

    .best-bonuses-block {
      margin-bottom: 30px;
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      border-radius: 10px;
      overflow: hidden;
      background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

      &:last-child {
        @include for-tablet-landscape-up {
          margin-bottom: 0 !important;
        }
      }

      @include for-tablet {
        background: white !important;
      }

      .best-bonus-name {
        position: relative;
        padding: 27px 34px 32px 44px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        @include for-big-phone {
          max-height: 100% !important;
          padding: 20px 34px 20px 25px;
          background: #ffffff;
        }

        span {
          @include light-text;
          color: #FFFFFF;
          @include for-tablet {
            @include text-style('Roboto', normal, 500, 20px, 22px);
            background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          @include for-big-phone {
            @include text-style('Roboto', normal, 500, 16px, 18px);
          }
        }

        button.open-block {
          @include for-tablet {

            svg path {
              fill: #6667AB;
            }
          }
        }
      }

      .bonus-descr {
        @include text-style('Roboto', normal, 500, 18px, 21px);

        @include for-big-phone {
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 20px;
        }

        p {
          @include text-style('Roboto', normal, 500, 18px, 21px);
          color: #FFFFFF;
          margin-top: 0;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          @include for-tablet {
            @include text-style('Roboto', normal, 500, 16px, 19px);
            background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }

        margin: 0;

      }
    }

    .middle-title {
      @include text-style('Roboto', noraml, 500, 40px, 47px);
      color: #ffffff;
      margin-bottom: 25px;
      @include for-big-phone {
        @include text-style('Roboto', noraml, 500, 24px, 28px);
      }
    }

    .bonuses-descr {
      width: 100%;
      max-width: 470px;

      margin-top: 0;
      @include text-style('Roboto', normal, 500, 18px, 21px);
      color: #ffffff;
      margin-bottom: 30px;
      @include for-tablet-landscape-up {
        max-width: 100%;
      }
      @include for-big-phone {
        @include text-style('Roboto', noraml, 500, 14px, 16px);
        max-width: calc(100% - 120px);
      }

    }

    a {
      @include light-text;
      padding: 25px 30px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
      @include for-tablet-landscape-up {
        margin-top: 0;
      }
    }
  }

  .best-image-after {
    position: absolute;
    display: block;
    right: 0;
    top: 58px;
    width: auto;
    max-width: 738px;
    height: auto;
    max-height: 574px;
    z-index: 0;
    @include for-tablet-landscape-up {
      max-width: 120px;
    }
    @include for-big-phone {
      opacity: .7;
    }
  }
}
