@import "../../abstracts/mixins/mixins";

.questions-content {
  @include for-tablet-landscape-up {
    padding-top: 30px;

    padding-bottom: 20px;
  }
  @include for-tablet {
    border-top: 3px solid #ffffff;
    background: transparent !important;
    margin-top: 20px;

  }
  @include for-big-phone {

  }

  &.front-questions {
    background: $color__background-light-violet;
    padding-top: 58px;
  }

  padding-top: 50px;
  padding-bottom: 58px;
  @include for-big-phone {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  #questions-title {
    @include big-title;
    margin-bottom: 30px;
  }

  .faqs-descr {
    width: 100%;
    max-width: 100%;
    margin-bottom: 34px;
    @include light-text;

    p {
    }
  }

  .questions-list {
    width: 100%;
    max-width: 100%;

    .question {
      margin-bottom: 30px;
      height: auto;
      max-height: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      border-radius: 10px;
      overflow: hidden;
      @include for-tablet-landscape-up {
        margin-bottom: 20px;
      }

      .question-name {
        background: linear-gradient(180deg, rgba(161, 25, 224, 0.2) 46.8%, rgba(161, 25, 224, 0.184) 80.32%), #6667AB;
        position: relative;
        padding: 27px 34px 32px 44px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        @include for-middle-phone {
          padding: 20px 34px 20px 20px;
        }

        .open-faq {
          position: absolute;
          right: 34px;
          top: 50%;
          transform: translateY(-50%);
          width: 12px;
          height: 22px;
          background: transparent;
          border: 0;
          padding: 0;
          cursor: pointer;
        }

        .question-name-value {
          a {
            @include light-text;
            text-decoration: none;
            @include for-middle-phone {
              @include text-style('Roboto Medium', normal, 500, 16px, 20px);
            }
          }

          margin: 0;
        }
      }


      .answer-block {
        background: rgba(108, 95, 176, 0.7);
        padding: 10px 25px 15px 30px;
        border-radius: 0 0 10px 10px;
        display: none;

        .answer-text {
          p {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  a {
    @include text-style('Roboto Medium', normal, 500, 24px, 28px);
    color: #FFFFFF;
    width: 100%;
    max-width: 255px;
    height: 100%;
    max-height: 77px;
    margin-left: auto;
    margin-right: auto;
    @include for-big-phone {
      max-width: 100%;
    }
  }
}
