h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 15px;
}

/*Bonus text content*/
@import "bonuses/bonus-content";
/*Top block*/
@import "bonuses/top-block";
/*Top Bonuses block*/
@import "bonuses/top-bonuses_block";
/*All Reviews*/
@import "bonuses/perfect-casino";

/*Bonuses & promotions*/
@import "bonuses/bonuses-and-promotions";
/*Calculator*/
@import "bonuses/bonuses-calculator";
/*Wagering requirements*/
@import "bonuses/wagering-requirements";
/*Other promotions*/
@import "bonuses/other-promotions";
/*Terms and Conditions*/
@import "bonuses/terms-and-conditions";
/*How much*/
@import "bonuses/how-much";
/*Want to play*/
@import "bonuses/want-to-play";
/*Most popular*/
@import "bonuses/most-popular";

/*Noe Deposit Page*/
@import "bonuses/latest-bonuses";
/*Choose Bonus*/
@import "bonuses/choose-bonus";
/*Different types*/
@import "bonuses/different-types";
/*Find Bonus Code*/
@import "bonuses/find-deposit";
/*Discover More*/
@import "bonuses/discover-more";
/*No Deposit Bonuses tables*/
@import "bonuses/deposit-tables";
/*Games No Deposit*/
@import "bonuses/games-deposit";
/*No Deposit Mobile*/
@import "bonuses/no-deposit-mobile";
/*Rate Banking Methods*/
@import "bonuses/rate-banking-methods";
